[Unit]
Description=LCD display driver
Requires=virtual.service
After=virtual.service

[Service]
Type=forking
ExecStart=/usr/local/sbin/LCDd -c /usr/local/etc/LCDd.conf

[Install]
WantedBy=multi-user.target

