[Unit]
Description=lcdgps
Requires=lcdd.service gpsd.service
After=lcdd.service gpsd.service

[Service]
ExecStart=/usr/bin/tclsh /home/peter/git/logs/lcdgps/lcdgps.tcl

[Install]
WantedBy=multi-user.target

